<form action='/dishes' method="POST">
  <fieldset>
    <legend>Cook something</legend>
    <label for="name">Name of your dish: </label>
    <input id="name" type="text" name="name" required /> <br />

    <label for="desired_temp">Desired Temp (celcius): </label>
    <input id="desired_temp" type="number" step="0.1" name="desired_temp" value="57.2" required />

    <input type="submit" value="Cook!" />
  </fieldset>
</form>

<form action='/dishes/stop_cooking' method="POST">
  <fieldset>
    <legend>Stop cooking</legend>
    <input type="submit" value="All done!" />
  </fieldset>
</form>

<% if @active_dish %>
  <article>
  <h2><%= @active_dish['name'] %></h2>
  <p>Desired Temperature: <%= @active_dish['desired_temp'] %></p>
  </article>
<% end %>

<%= line_chart @chart_data, min: @min, max: @max %>
